<?xml version="1.0"?>
<model>
  <name>Tailsitter VTOL Advanced</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>PennAir</name>
   <email>board@pennaerial.com</email>
  </author>

  <description>
    This is a model of PennAir's custom tailsitter VTOL plane.
  </description>
</model>
